*.elc
*~
*.*.lock
\#*

# no-littering directories
/etc
/var
/eln-cache/
/elpa

# Misc local state that may still appear at top-level
/.cache/
/auto-save-list/
/emacs-backup
/history
/recentf
/saveplace
/emacs.desktop
/.emacs.desktop
/session.*
/projects

# Private, machine-specific config
/work/
