*.elc
/elpa
/var
/backups
/auto-save-list
/emacs.desktop
/ido.last
/recentf
/
/session.*
\#*
/saveplace
*.*.lock
*~
/.emacs.desktop
/smex-items
/url
/tramp
/games
/abbrev_defs
/ensime/
/work/
/network-security.data
/projectile-bookmarks.eld
/history
/projectile.cache
/transient/
/.lsp-session*
/eln-cache/
/.cache/
/elpa
/emacs-backup
/ielm-history.eld
/projects
